@using Wardrobe_Bliss.Areas.AdminArea.Models
@{
    Layout = "_LayoutAdmin";
}
@model IEnumerable<CategoryModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>
                        <a asp-controller="Product" asp-action="ApiProductInsert">
                            <button type="submit" class="btn btn-primary mb-3">Add Category</button>
                        </a>
                        <!-- Table with stripped rows -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>category_id</th>
                                    <th>name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cat in Model)
                                {
                                    <tr>
                                        <td>@cat.category_id</td>
                                        <td>@cat.name</td>
                                        <td class="d-flex justify-content-start">
                                            <a asp-controller="Product" asp-action="ApiCategoryInsert" asp-route-id="@cat.category_id">
                                                <button type="button" class="btn btn-warning me-2">Edit</button>
                                            </a>
                                            <a asp-controller="Category" asp-action="ApiCategoryDelete" asp-route-id="@cat.category_id"><button type="button" class="btn btn-danger" onclick="return confirmDelete();">Delete</button></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete?');
    }
</script>
